name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   # every day
  workflow_dispatch:      # run manually
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: ahrabbani
          outputs: |
            dist/github-contribution-grid-snake.svg
      - name: Push Snake
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
