name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"  # every day
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: ahrabbani
          outputs: |
            # dist/github-contribution-grid-snake.svg
            # dist/github-snake.svg?palette=github-light
            # dist/github-snake-dark.svg?palette=github-dark
            dist/github-snake-custom.svg?color_snake=#00FF99&color_dots=#1f2933,#243447,#2b3b55,#58a6ff

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
